.main {
  background-color: #171717;
}

h2 {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}

.upload-image {
  display: block;
  margin: auto;
  max-width: 200px; 
}

div input {
  display: block;
  margin: auto;
  width: 400px;
  height: 35px;
  border-radius: 5px;
  color: #000000;
  margin-bottom: 20px;
}

div textarea {
  display: block;
  margin: auto;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #000000;
}

/* .button {
  display: block;
  margin: auto;
  width: 250px;
} */

div .button {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 250px;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
  margin: auto;

}

@media only screen and (max-width: 600px) {
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: auto;
  }
}


